*{
	margin: 0;
	padding: 0;
}
.cl{
	clear: both;
}
.h10{
	height: 10px;
}
.h16{
	height: 16px;
}
.h20{
	height: 20px;
}
.h30{
	height: 30px;
}
.h40{
	height: 40px;
}
.h50{
	height: 50px;
}
.inner_c{
	width: 1000px;
	margin: 0 auto;
}
/*h3{
		line-height: 54px;
	width: 108px;
	color: #4BB344;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #4BB344;
	font-weight: normal;
}*/
body{
	width: 100%;
	/*height: 5000px;*/
	font-family: "Arail","微软雅黑","宋体";
	line-height: 26px;
	font-size: 14px;
	text-align: left;
	color: #666666;
}
.banner{
	width: 100%;
	height: 400px;
	position: relative;
	background:  url(../images/banner/4_banner.jpg) center  top no-repeat;
}
.banner .titel_1{
	position: absolute;
	top: 32px;
	left: 50px;
	font-size: 40px;
	color: white;
	font-weight: normal;
}
.banner .titel_1 span{
	/*color: #28c83a;*/
	color: #777777;
}
.header{
	height: 49.5px;
	width: 100%;
	background-color: #4BB344;
}

.header .nav{
	/*height: 56px;*/
	/*background-color: red;*/
}
.header .nav ul{
	list-style: none;
}
.header .nav ul li{
	float: left;
	width: 150px;
	line-height: 50px;
	border-left: 1px solid #4BB344;
	/*text-align: center;
	line-height: 64px;*/
}
.header .nav ul li.current a{
	background-color: white;
}
.header .nav ul li a{
	display: block;
	width: 150px;
	line-height: 50px;
	font-size: 16px;
	color: white;
	text-align: center;
	text-decoration: none;
	/*font-weight: bold;*/
}
.header .nav ul li.current a{
	color: #4BB344;
}

.header .nav ul li a:hover{
	color: #4BB344;
	background-color: white;
}
.header .nav ul li.last a{
	color: #4BB344;
	background-color: white;
	width: 90px;
	line-height: 30px;
	margin-left: 50px;
	margin-top: 10px;
	border-radius: 6px;
}
.header .nav ul li.last a:hover{
	background-color: orange;
	color: white;
}
/*测试方便*/
.content{
	/*background-color: skyblue;*/
	/*height: 2000px;*/
}
.content .char h3{
	line-height: 54px;
	width: 108px;
	color: #4BB344;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #4BB344;
	font-weight: normal;
}
.content .char .zwtd{
	border-top: 1px solid gray;
	/*overflow: hidden;*/
}
.content .char .zwtd div.td_img{
	padding-top: 14px;
	width: 300px;
	height: 200px;
	float: left;
}
.content .char .zwtd div.td_1{
	float: left;
	width: 330px;
	padding-left: 20px;
	padding-top: 14px;
}
.content .char .zwtd div.td_2{
	float: left;
	width: 330px;
	padding-left: 10px;
	padding-top: 14px;
}
.content .char .zwtd div img{
	width: 300px;
	height: 200px;
}
.content .char .zwtd div p{
	line-height: 26px;
	font-size: 14px;
	text-align: left;
	color: #666666;
	/*text-indent: 2em;*/
}


.content .show{
	margin-top: 10px;
}
.content .show h3{
	line-height: 54px;
	width: 108px;
	color: #4BB344;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #4BB344;
	font-weight: normal;
}
.content .show ul{
	list-style:none;
	border-top: 1px solid gray;
	padding-top: 18px;
	padding-bottom: 36px;
}
/*.content .show ul li{
	float: left;
	height: 306px;
	margin: 10px 20px;
	text-align: center;
}*/
.content .show ul li img{
	height: 190px;
	width: 210px;
}
.content .show ul li p{
	font-size: 16px;
	line-height: 50px;
	color: #666697;
}
/*图片放大*/
.content .show ul li{
	height: 240px;
	width: 210px;
	float: left;
	margin: 10px 20px;
	text-align: center;
  /*overflow: hidden;*/
  /*删了就会整张放大，区域增加*/
}
.content .show  ul li img{
  cursor: pointer;
  transition: all 0.6s;
}
.content .show ul li img:hover{
  transform: scale(1.2);
}
/*结束放大*/

.content .inflorescence div.bt{
	width: 1000px;
	height: 54px;
}

.content .inflorescence div.bt h3{
	float: right;
	line-height: 54px;
	width: 108px;
	color: #4BB344;
	font-size: 18px;
	text-align: center;
	border-bottom: 1px solid #4BB344;
	font-weight: normal;
}
.content .inflorescence .hx{
	border-top: 1px solid gray;
	/*overflow: hidden;*/
}
.content .inflorescence .hx div.hx_img{
	padding-top: 14px;
	width: 300px;
	height: 200px;
	float: right;
}
.content .inflorescence .hx div.hx_1{
	float: left;
	width: 330px;
	padding-left: 20px;
	padding-top: 14px;
}
.content .inflorescence .hx div.hx_2{
	float: left;
	width: 330px;
	padding-left: 10px;
	padding-top: 14px;
}
.content .inflorescence .hx div img{
	width: 300px;
	height: 200px;
}
.content .inflorescence .hx div p{
	line-height: 26px;
	font-size: 14px;
	text-align: left;
	color: #666666;
	text-indent: 2em;
}


.content .phy_char h3{
	line-height: 54px;
	width: 108px;
	color: white;
	background-color: #4BB344;
	font-size: 18px;
	text-align: center;
	/*border-radius: 4px ;*/
	font-weight: normal;
}
.content .phy_char .char_sort{
	border-top: 2px solid #4BB344;
	padding-top: 16px;
}
.content .phy_char .char_sort .page{
	float: left;
	width: 690px;
	height: 669px;
}
.content .phy_char .char_sort .phy_img{
	width: 300px;
	height: 200px;
	margin-left: 10px;
	float: left;
}

/*图片放大*/
.content .phy_char .char_sort .phy_img ul li{
  width: 300px;
  height: 200px;
  overflow: hidden;
  /*加了就会整张放大，区域增加*/
}
.content .phy_char .char_sort .phy_img ul li img{
  cursor: pointer;
  transition: all 0.6s;
}
.content .phy_char .char_sort .phy_img ul li img:hover{
  transform: scale(1.4);
}
/*结束放大*/

.content .phy_char .char_sort .phy_img img{
	width: 300px;
	height: 200px;

}
.content .phy_char .char_sort .phy_img ul{
	list-style: none;
}
.content .phy_char .char_sort .phy_img ul li{
	margin-bottom: 14px;
}
.content .phy_char .char_sort .page p{
	padding-bottom: 20px;
}



.footer{
	height: 91px;
	background-color: #191D3A;
}
.footer .inner_c{
	width: 1000px;
	margin: 0 auto;
}
.footer .inner_c .left_part{
	float: left;
	width: 800px;
	height: 91px;
	line-height: 91px;
}
.footer .inner_c .left_part span{
	color:gray;
	font-size: 14px;
	line-height: 91px;
}
.footer .inner_c .left_part span a{
	text-decoration: none;
	color:gray;
}
.footer .inner_c .left_part span a:hover{
	color: white;
}
a.top{
	position: fixed;
	bottom: 50px;
	right: 50px;
	width: 50px;
	line-height: 50px;
	background-color: #4BB344;
	text-decoration: none;
	color: white;
	font-size: 18px;
	text-align: center;
	border-radius: 4px;
}

a.top:hover{
	background-color: orange;
}
